<!DOCTYPE html>
<html>
    <head>
        <title>OldNBA Fans Home</title>
        <style>
      
        
        </style>
    </head>
    <body style="background-color:lightblue">
        
        <h1 style="text-align:center;font-family:verdana;">Welcome to OldNBA Fans Home</h1>
        <p style="text-align:center;">There are a lot of resource for you to watch!</p>
        <p style="text-align:center;font-family:courier;">Click <a data-th-href="@{/nbas}">here</a> to add what you want to see</p>
    </body>
</html>