<!DOCTYPE html>
<html>
    <head>
        <title>OldNBA Fans Home</title>
        <style>
        img{
	       position:relative;
	       left:40%;
	       top:5px;
	       z-index:-1;
        }
        
        </style>
    </head>
    <body>
        <img src="http://www.nba.com/media/global/NBA_Twitter_default_logo.gif" >
        <h1 style="text-align:center;font-family:verdana;">Welcome to OldNBA Fans Home</h1>
        <p style="text-align:center;">There are a lot of resource for you to watch!</p>
        <p style="text-align:center;font-family:courier;">Click <a data-th-href="@{/dvds}">here</a> to add what you want to see</p>
    </body>
</html>