<!DOCTYPE html>
<html>
    <head>
    
    
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    
    
        <title>Main page</title>
        
        <link rel="stylesheet" th:href="@{/css/1.css}"
			href="../css/1.css" />
			
			
        <link rel="stylesheet" th:href="@{/vendor/bootstrap/bootstrap.min.css}"
			href="../../vendor/bootstrap/bootstrap.min.css" />


    <!-- Custom Fonts -->
    
    <link rel="stylesheet" th:href="@{/vendor/bootstrap/font-awesome.min.css}"
			href="../../vendor/bootstrap/font-awesome.min.css" />
    
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'/>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'/>

    <!-- Plugin CSS -->
    
    <link rel="stylesheet" th:href="@{/vendor/bootstrap/magnific-popup.css}"
			href="../../vendor/bootstrap/magnific-popup.css" />
    
    

    <!-- Theme CSS -->


    <link rel="stylesheet" th:href="@{/css/mainCss.css}"
			href="../../css/mainCss.css" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
        
        
        
        
        <style>

             HTML  CSS   Result
Edit on 
body {
  margin: 0;
  padding: 0;
  background: #ccc;
}
 
.nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}
 
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color: #005f5f;
}
 
.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}
 
@media screen and (min-width: 800px) {
  .nav li {
    width: 180px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
 
  /* Option 1 - Display Inline */
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }
 }
  
  
  
  
  
  
  
  
  
  
    </style>
    </head>
    <body>
        
        
        <header>
    <div class="nav">
      <ul>
        <li class="home"><a class="active" data-th-href="@{/main}">Home</a></li>
        <li class="tutorials"><a  data-th-href="@{/slams}">SlamDunk</a></li>
        <li class="about"><a data-th-href="@{/crossover}">Crossover</a></li>
        <li class="news"><a data-th-href="@{/finalShoot}">FinalShoot</a></li>
        <li class="contact"><a data-th-href="@{/nbas}">ShareSpace</a></li>
        <li class ="home"><a data-th-action="@{/logout}" method="post">Sign out</a></li>
      </ul>
      
      
      
      <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">Your Favorite Source of Free Old NBA Video</h1>
                <br />
                <p>Start your memory travel of NBA Games and make yourself younger! </p>
                <a href="#about" class="btn">Get Started</a>
            </div>
        </div>
      
      
      
      
    </div>
  </header>
  
  
  
  <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">We've got what you need!</h2>
                    <hr class="light"/>
                    <p class="text-faded">This website has a lot of video resource. You can click each picture to choose what you like to see!</p>
                    <a href="#section" class="page-scroll btn btn-default btn-xl sr-button">Go!</a>
                </div>
            </div>
        </div>
    </section>
  
  
  
  
  <section class="no-padding" id="section">
        <div class="container-fluid">
            <div class="row no-gutter popup-gallery">
                <div class="col-lg-4 col-sm-6">
                    <a data-th-href="@{/slams}" class="portfolio-box">
                        <img src="http://2.bp.blogspot.com/-GT5rwvHIw1Y/T7p0dbro1TI/AAAAAAAAANY/xnUZqvF5nQo/s1600/Tracy-Mcgrady-Slam-Dunk-Wallpaper-002-1.jpg" style="width:650px;height:350px;" class="img-responsive" alt=""/>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    See
                                </div>
                                <div class="project-name">
                                    Slam Dunk
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a data-th-href="@{/crossover}" class="portfolio-box">
                        <img src="http://posterizes.com/wp-content/uploads/lordofwarAllenIversonPosterizes_2560x1440.jpg" style="width:650px;height:350px;" class="img-responsive" alt=""/>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Watch
                                </div>
                                <div class="project-name">
                                    Crossover
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a data-th-href="@{/finalShoot}" class="portfolio-box">
                        <img src="http://www.basketwallpapers.com/Images-04/Tim-Duncan-Shooting-Wallpaper.jpg" style="width:650px;height:350px;" class="img-responsive" alt=""/>
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Want
                                </div>
                                <div class="project-name">
                                    Final Shoot
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
               
                
                
            </div>
        </div>
    </section>
        
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Sharing is the Best!</h2>
                    <hr class="primary"/>
                    <p>Get something excited? Let's share with others. THe more you share, the more you will receive! Let's start!</p>
                	<a data-th-href="@{/nbas}" class="btn btn-default btn-xl sr-button">Share Now!</a>
                </div>
                
                
                 
                
               
                
            </div>
        </div>
    </section>
        
        
        
    </body>
</html>