<!DOCTYPE html>

<html>
    <head>
        <title>Edit Information</title>
        <style>
        .ridge {border-style:ridge;}
        div.static {
         position: fixed;
         left:5px;
         top: 50px;
         width: 350px;
         border: 3px solid gray;

    </style>
    </head>
   
    <body style="background-color:white">
        <p style="font-size:25px; font-weight:bold">Edit NBA</p><br />
        <div class="static">
        <form data-th-action="@{/nbas/edit/{id}(id=${nba.id})}" data-th-object="${nba}" data-th-method="put" role="form">
            <br />
	        Action Type: <input type="text" name="title" data-th-value="${nba.title}" /><br /><br />
            Player Name:<input type="text" name="player" data-th-value="${nba.player}" /><br /><br />
            Web Links:<input type="text" name="links" data-th-value="${nba.links}" /><br /><br />
            
            <input type="submit" value="Update"/><br />
        </form>
        
        <br />
        
        Go back to <a data-th-href="@{/nbas}">previous page</a> ! </div>
    </body>
</html>