<!DOCTYPE html>
<html>
    <head>
        <title>OldNBA Home</title>
         <style>
        table tr:nth-child(even) {
            background-color: #eee;
            padding: 5px;
        }
        table tr:nth-child(odd) {
           background-color:#fff;
           padding: 5px;
        }
        table th {
            
            background-color: white;
            color: darkgray;
            padding: 5px
        }
        
        </style>
    </head>
    <body style="background-color:lightblue">
        <h1 data-th-inline="text">[[${#httpServletRequest.remoteUser}]]'s Records!</h1>

        <div>
            <table align="center" style="border: 2px solid gray; width:40%">
                <tr>
                    <th><blue>Num</blue></th>
                    <th>Action Type</th>
                    <th><red>Player</red></th>
                </tr>                
                <tr data-th-each="nba : ${nbas}">
                    <td data-th-text="${nba.id}"></td>
                    <td data-th-text="${nba.title}"></td>
                    <td data-th-text="${nba.player}"></td>
                </tr>
            </table>
        </div>
        
        <hr />
        <p style="text-align:center;">Add what you want to see<br />
        <form align="center" data-th-action="@{/nbas/add}" name="addNbaForm" method="post">
            Action Type:<input type="text" name="title" /><br /><br />
            Player:<br />
            <input type="radio" name="player" value="Old_NBA_Stars" checked="checked" /> Old_NBA_Stars<br />
            <input type="radio" name="player" value="Kobe_Bryant_2016" /> Kobe_Bryant_2016<br />
            <input type="radio" name="player" value="Tracy_McGrady_2013" /> Tracy_McGrady_2013<br />
            <input type="radio" name="player" value="Allen_Iverson_2011" /> Allen_Iverson_2011<br />
            <input type="radio" name="player" value="Shaquille_ONeal_2011" /> Shaquille_ONeal_2011<br />
            <input type="radio" name="player" value="Michael_Jordan_2003" /> Michael_Jordan_2003<br />
            <input type="radio" name="player" value="Hakeem_Olajuwon_2002" /> Hakeem_Olajuwon_2002<br />
            <input type="radio" name="player" value="Magic_Johnson_1996" /> Magic_Johnson_1996<br /><br />
            <input type="submit" value="Submit Records"/>
        </form>
        
        </p>
        <hr />  
        <br />     
        <form align="center" data-th-action="@{/logout}" method="post">
            After finish adding, please sign out.
            <input type="submit" value="Sign Out"/>
        </form>
    </body>
</html>